@font-face{
    font-family: 'Phudu';
    src: url('./../fonts/Phudu/Phudu-VariableFont_wght.ttf');
}

@font-face{
    font-family: 'Bebas';
    src: url('./../fonts/Bebas_Neue/BebasNeue-Regular.ttf');
}

*{
    font-family: Phudu;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
}


#nav-mobile{
    display:  none; 
}

#icon-search{
    height: 40px;
    width: 40px;
}

.price{
    font-family: Bebas;
}

.row{
    --bs-gutter-x: 0;
}

p{
    margin: 0;
}

h1{
    text-shadow: 0 0 3px #ece5e5, 0 0 5px #f9f9fc;
}

button:hover, a:hover{
    background-color: #e0046c !important;
}

#img-logo{
    height: 50px;
    width: 120px;
}

header{
    margin-bottom: 2%;
}

#carouselExampleFade{
    background-color: #e0046c;
}

#logo-link:hover, .carousel-control-prev:hover, .carousel-control-next:hover, #icon-redes a:hover{
    background-color: transparent !important;
}

.carousel-control-prev img{
    height: 30px;
    width: 30px;
} 

.carousel-control-next img{
    height: 30px;
    width: 30px;
}

.form-check{
    width: 6rem;
}

.cards-events{
    width: 18rem;
    height: 20rem;
}

.card-info{
    text-align: justify;
    height: 6rem;
}

.sold-out{
    display: none;
}

.card-img-top{
    height: 10rem;
}

#icon-redes img{
    background-color: white;
    width: 25px;
    height: 25px;
    border-radius: 50%;
}

main{
    padding-bottom: 5%;
}

footer{
    height: 40px;
    position: fixed;
    bottom: 0;
}

footer p{
    color: white;
    font-size: 1.2rem;
}

/** DETAIL **/

#card-event img{
    height: 18rem;
    width: 500px;
}

#footer-card{
    background-color: #e0046c;
    color: white;
}

.cards-events-detail{
    height: 300px;
    width: 16rem;
}

.card-info-detail{
    text-align: justify;
    height: 6rem;
}

#event-description{
    text-align: justify;
    height: 12rem;
}

#event-image{
    height: 100%;
}

.sold-out{
    display: none;
}

.sold-out img{
    position: absolute;
    margin-top: 8%;
    height: 100px;
    width: 290px;
    z-index: 4;
}


#sold-out{
    display: none;
}

#sold-out img{
    position: absolute;
    height: 60px;
    width: 100px;
    z-index: 4;
}

@media (max-width: 768px) {

    .sold-out img{
        height: 100px;
        width: 220px;
    }

    .form-check{
        width: 5rem;
        font-size: 0.8rem;
    }

    .card-title{
        font-size: 1.2rem;
    }

    .card-text{
        font-size: 0.8rem;
    }

    .card-info{
        height: 6rem;
    }

    /** DETAIL **/
    .cards-events{
        width: 14rem;
    }

    .cards-events-detail{
        
        height: 300px;
        width: 10rem;
    }

    .card-info-detail{
        height: 6rem;
    }

    .card-title{
        font-size: 0.8rem;
    }

    .see-more{
        font-size: 0.6rem;
    }
    
}

@media (max-width: 425px) {

    .sold-out img{
        margin: 3%;
        height: 90px;
        width: 180px;
    }

    main{
        padding-bottom: 10%;
    }

    #nav-general{
        display: none;
    }
    
    #nav-mobile{
        display:  block; 
    }

    /** INDEX **/

    .cards-events{
        width: 11.8rem;
        height: 18rem;
    }

    .card-title{
        font-size: 0.9rem;
    }

    .card-text{
        font-size: 0.7rem;
    }

    .see-more{
        font-size: 0.4rem;
    }

    .card-body{
        height: 10rem;
    }

    /** DETAIL **/

    .card-img-top{
        height: 6rem;
    }

    .card-info{
        height: 7rem;
    }

    div#related-events div{
        width: 100%;
        overflow: auto;
        white-space: nowrap;
    }

    div#related-events .cards-events-detail{
        display: inline-block;
        height: 230px;
        width: 8rem;
    }

    .card-info-detail {
        white-space: normal !important;
        width: 8rem !important;
        height: 6rem;
    }

    #event-description{
        height: 3rem;
    }
}

@media (max-width: 393px) {
    .cards-events{
        width: 11.2rem;
        height: 16rem;
    }
}

@media (max-width: 320px) {

    .sold-out img{
        margin-top: 4%;
        height: 90px;
        width: 140px;
    }

    .form-check{
        width: 4rem;
        font-size: 0.6rem;
    }
 
    /** INDEX **/

    .cards-events{
        width: 9rem;
        height: 16rem;
    }
    
    #footer-card p{
        font-size: 0.8rem;
    }

    #icon-redes img{
        width: 20px;
        height: 20px;
    }

    footer div p{
        font-size: 0.8rem;
    }
  }