@font-face{
    font-family: 'Phudu';
    src: url('./../fonts/Phudu/Phudu-VariableFont_wght.ttf');
}

@font-face{
    font-family: 'Bebas';
    src: url('./../fonts/Bebas_Neue/BebasNeue-Regular.ttf');
}

*{
    font-family: Phudu;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#nav-mobile{
    display:  none; 
}

#icon-search{
    height: 40px;
    width: 40px;
}

.price{
    font-family: Bebas;
}

.row{
    --bs-gutter-x: 0;
}

p{
    margin: 0;
}

h1{
    text-shadow: 0 0 3px #ece5e5, 0 0 5px #f9f9fc;
}

button:hover, a:hover{
    background-color: #e0046c !important;
}

#img-logo{
    height: 50px;
    width: 120px;
}

#carouselExampleFade{
    background-color: #e0046c;
}

#logo-link:hover, .carousel-control-prev:hover, .carousel-control-next:hover, #icon-redes a:hover{
    background-color: transparent !important;
}

.carousel-control-prev img{
    height: 30px;
    width: 30px;
} 

.carousel-control-next img{
    height: 30px;
    width: 30px;
}

.form-check{
    width: 6rem;
}

.cards-events{
    width: 18rem;
}

.card-info{
    text-align: justify;
    height: 8rem;
}

.sold-out{
    display: none;
}

.card-img-top{
    height: 10rem;
}

#icon-redes img{
    width: 50px;
    height: 50px;
}


footer p{
    color: white;
    font-size: 1.5rem;
}

/** DETAIL **/

#card-event img{
    height: 18rem;
    width: 500px;
}

#footer-card{
    background-color: #e0046c;
    color: white;
}

.cards-events-detail{
    height: 300px;
    width: 22rem;
}

.card-info-detail{
    text-align: justify;
    height: 6rem;
}

#event-description{
    text-align: justify;
    height: 12rem;
}

#event-image{
    height: 100%;
}

@media (max-width: 768px) {

    .form-check{
        width: 5rem;
        font-size: 0.8rem;
    }

    .card-title{
        font-size: 1.2rem;
    }

    .card-text{
        font-size: 0.8rem;
    }

    .card-info{
        height: 6rem;
    }

    /** DETAIL **/
    .cards-events{
        width: 14rem;
    }

    .cards-events-detail{
        
        height: 330px;
        width: 14rem;
    }

    .card-info-detail{
        height: 8rem;
    }
    
  }

@media (max-width: 600px) {

    /** INDEX **/

    .cards-events{
        width: 12rem;
    }

    .card-title{
        font-size: 0.9rem;
    }

    .card-text{
        font-size: 0.7rem;
    }

    .see-more{
        font-size: 0.4rem;
    }

    .card-body{
        height: 10rem;
    }


    /** DETAIL **/

    .card-img-top{
        height: 6rem;
    }

    .card-info{
        height: 6rem;
    }

    .card-info-detail{
        height: 8rem;
    }

    #event-description{
        height: 3rem;
    }

    .cards-events-detail{
        height: 260px;
        width: 8rem;
    }

    #nav-general{
        display: none;
    }
    
    #nav-mobile{
        display:  block; 
    }
    
    #footer-card p{
        font-size: 0.8rem;
    }
  }